#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


@keyframes backgroundShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  background: linear-gradient(-45deg, #0b0b0b, #112f1e, #0e1b2c, #5f27cd);
  background-size: 400% 400%;
  animation: backgroundShift 20s ease infinite;
  color: #ffffff;
}

